section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.div{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: justify;
    width: 80%;
    gap: 20px;
    max-width: 500px;
    margin-bottom: 20px;
}

.img{
    width: 100%;
    max-width: 500px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}