form{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;
    margin-right: 3%;
}

form input[type='text']{
    padding: 5px;
    border: 2px solid rgb(255, 255, 108);
}

form input[type='submit']{
    padding: 6px;
    background-color: white;
    border: none;
    cursor: pointer;
}