nav{
    display: flex;
    gap: 10px;
    background-color: aqua;
    border-radius: 25px;
    width: 150px;
    overflow: hidden;
}

a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bolder;
    cursor: pointer;
    padding: 8px;
}

a.active{
    background-color: blueviolet;
    color: white;
}
