form label{
    font-weight: bolder;
}

form input, form button{
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(205, 255, 255);
}

[type='text']:focus,[type='email']:focus,[type='password']:focus{
    outline: 0;
    background-color: rgba(205, 255, 255, 0.356);
}

header nav > button{
    background-color: rgb(205, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px;
    font-weight: bolder;
    font-size: 1.3em;
}

form > p {
    margin-top: 20px;
}
