.sec{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
}

.div{
    background-color: rgb(15, 15, 15);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    max-width: 250px;
    padding: 10px;
    min-height: 600px;
    gap: 10px;
    margin-bottom: 20px;
}

.div img{
    width: 250px;
    height: 375px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100px;
}

.info h3{
    display: flex;
    align-items: center;
    font-size: 1.0em;
}

.btn{
    padding: 10px;
    width: 100%;
    height: 55px;
    margin-top: 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}

