body{
  background-color: white;
  color: black;
}

main{
  position: absolute;
  top: 0px;
}

input[type=text]{
  background-color: white;
  border: 1px solid black;
  color: black;
  width: 80%;
}

input[type=button]{
  background-color: orange;
  border: 1px solid black;
  width: 18%;
  margin-left: 3px;
}

form{
  margin-bottom: 20px;
}

#lista{
  border: 1px solid black;
  width: 500px;
  min-height: 280px;
}

.linha{
  margin: 5px;
  display: flex;
  align-items: center;
  border: 2px solid grey;
  padding: 5px;
}

button{
  margin-left: 70%;
  background-color: darkblue;
  color: white;
  border: 1px solid black;
}

.click{
  text-decoration: line-through;
}

span{
  cursor: pointer;
}